//COLORS
$color-primary: #17408b;
$color-primary-alt: #443273;

$color-secondary: #c9082a;
$color-secondary-alt: #9d1643;

$color-tertiary: #70245b;
$color-tertiary-alt: #70295b;
$color-tertiary-dark: #38122d;
$color-tertiary-inverse: #8fdba4;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-brown-1: #b87333;
$color-brown-2: #654321;

// FONT
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
