body {
    background-color: black;
    color: white;
}

.match {
    height: 10em;
    align-content: center;
    margin-top: 1em;
}
img {
    width: 64px;
    height: 64px;
}

.matchSection {
    align-content: center;
}